.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.product-wrapper {
  width: 100%;
  padding: 12px;
}
@media (min-width: 540px) {
  .product-wrapper {
    width: 50%;
  }
}
@media (min-width: 840px) {
  .product-wrapper {
    width: 33.33%;
  }
}
@media (min-width: 1100px) {
  .product-wrapper {
    width: 25%;
  }
}
.product {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product--single {
  max-width: 360px;
  margin: 0 auto;
}
.product__alert {
  color: #721c24;
  background-color: #f8d7da;
  /* border-color: #f5c6cb; */
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.product__image {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}
.product__image .image {
  width: 100%;
  display: block;
  transition: 0.3s;
}
.product__image:hover .image {
  transform: scale(1.2);
}
.product__content {
  padding: 40px 20px 20px;
  background-color: var(--color-card-bg);
  color: var(--color-card-text);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product__item {
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
}
.product__label {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.product__name {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}
.product__size {
  font-weight: normal;
}
.product__material {
  font-weight: normal;
  text-transform: capitalize;
}
.product__footer {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.product__link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 8px 12px;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 3px;
}
.product__link:hover {
  background-color: var(--color-primary);
}
.product__price {
  margin-left: 8px;
}
