<section class="form-header__intro">
  <h3 class="form-header__message"><%= heading %></h3>
  <a href="<%= link.href %>" class="form-header__link" data-link="true"
    ><%= link.text %></a
  >
</section>
