<div class="alerts-wrapper" id="alerts-wrapper">
  <ul class="alerts" id="alerts-list"></ul>
</div>
<div class="toast" id="toast">
  <p class="toast__body" id="alert-success">
    <span class="toast__line" id="toast-line"></span>
    <%= message %>
  </p>
</div>
