<div class="form__footer">
  <a href="#" class="form__link form__link--google" data-link="true"
    >ورود سریع با حساب گوگل</a
  ><a href="#" class="form__link form__link--yahoo" data-link="true"
    >ورود سریع با حساب یاهو</a
  >
</div>
