.edit-form {
}
.edit-form__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.edit-form__label {
  margin-bottom: 10px;
}
.edit-form__input {
  padding: 14px 10px;
  font: inherit;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
}
.edit-form__selection {
}

.edit-form__row {
  margin: 10px 0 20px;
  display: flex;
}
.edit-form__option {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.edit-form__gender {
  margin-left: 5px;
}
.edit-form__radio {
}
.edit-form__controlls {
  display: flex;
  flex-wrap: wrap;
}
.edit-form__btn {
  padding: 10px 14px;
  border-radius: 5px;
  color: #fff;
  margin: 5px 0 5px 8px;

  font-size: 14px;
  cursor: pointer;
}
.edit-form__btn--change {
  background-color: #257c39;
}
.edit-form__btn--exit {
  background-color: #9b2b37;
}
